<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRUD Node js</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg-dark bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">ANIME LIST</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Lista animes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create">Crear un nuevo anime</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> 
      <div class="container">
        <h1 class="fs-1 text-center mt-3">LISTADO DE ANIMES REGISTRADOS</h1>
        <table class="table table-hover table-light table-bordered text-center mt-4 align-middle mb-4">
            <thead class="bg-primary text-white">
                <tr class="table-primary">
                    <th scope="col">id</th>
                    <th scope="col">imagen</th>
                    <th scope="col">nombre</th>
                    <th scope="col">descripcion</th>
                    <th scope="col">demografia</th>
                    <th scope="col">acciones</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach((anime) => {
                    %>
                    <tr>
                        <td><%= anime.id %></td>
                        <td>
                          <div class="mh-200 container text-center align-items-center"" style="width: 200px; height: auto;">
                            <img src="<%= anime.imagen %>" class="rounded mx-auto d-block img-thumbnail" alt="<%= anime.nombre %>">
                          </div>
                        </td>
                        <td><%= anime.nombre %></td>
                        <td><%= anime.descripcion %></td>
                        <td><%= anime.demografia %></td>
                        <td>
                            <a href="./profile/<%= anime.id %>" class="btn btn-outline-success"><i class='bx bxs-info-circle'></i></a>
                            <a href="./edit/<%= anime.id %>" class="btn btn-outline-info"><i class='bx bxs-edit-alt'></i></a>
                            <a href="./delete_confirmation/<%= anime.id %>" class="btn btn-outline-danger"><i class='bx bxs-trash'></i></a>
                        </td>
                      </tr>
                <% }) %>
                
            </tbody>
        </table>
        <p class="fs-4 fw-light text-center">Si no encuentras el anime que estas buscando puedes <a href="./create" class="btn btn-outline-primary fs-4"><i class='bx bxs-plus-circle'></i> Crear uno Nuevo</a> </p>
        
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>